---
import Layout from "../../layouts/Layout.astro";
import { newsCards } from "../../data/news.ts";
import { Image } from "astro:assets";
import { slugify } from "../../utils/slugify.ts";
import Gallery from "../../components/Gallery.astro";

// Generar rutas estáticas para cada noticia
export async function getStaticPaths() {
    return newsCards.map((noticia) => ({
        params: { slug: slugify(noticia.title) },
        props: { noticia },
    }));
}

// Obtener la noticia desde las props
const { noticia } = Astro.props;
---

<Layout title={noticia.title}>
    <section class="bg-xc-hueso">
        <div class="container mx-auto pb-[60px]">
            <!-- Breadcrumbs -->
            <nav class="text-[14px] font-manrope text-xc-negro py-4" aria-label="Breadcrumb">
                <ol class="list-reset flex">
                    <li>
                        <a href="/" class="hover:underline">Inicio</a>
                    </li>
                    <li><span class="mx-2">/</span></li>
                    <li>
                        <a href="/#noticias" class="hover:underline">Noticias</a>
                    </li>
                    <li><span class="mx-2">/</span></li>
                    <li class="text-xc-azul font-bold">{noticia.title}</li>
                </ol>
            </nav>

            <div>
                <Image
                    src={noticia.image}
                    alt={noticia.title}
                    width={2000}
                    height={1333}
                    class="rounded-[10px] w-full h- object-cover shadow-lg h-[330px]"
                />
            </div>

            <div>
                <!-- Fecha -->
                <p class="text-xc-gris text-[14px] font-manrope leading-normal py-[25px]">
                    {noticia.date}
                </p>
                <!-- Título -->
                <h3 class="text-xc-azul font-manrope text-[20px] leading-normal font-semibold">
                    {noticia.title}
                </h3>
                <!-- Descripción completa con HTML -->
                <div
                    set:html={noticia.description}
                    class="py-[25px] text-xc-negro text-[16px] leading-normal font-normal"
                />
                <!-- Gallery -->
                {noticia.gallery && <Gallery images={noticia.gallery} />}
                <!-- Botón volver -->
                <div class="mt-10 flex">
                    <a
                        href="/#noticias"
                        class="bg-xc-azul text-center text-white rounded-[35px] px-8 py-3 font-manrope text-[16px] leading-normal font-normal hover:bg-xc-azul/75 transition-colors"
                    >
                        ← Volver
                    </a>
                </div>
            </div>
        </div>
    </section>
</Layout>
