---
import { Image } from "astro:assets";
import NoticiasImg from "../assets/images/noticias.webp";

import { newsCards } from "../data/news.ts";
---

<section
    style={`background-image: url(${NoticiasImg.src}); background-size: cover; background-position: center;`}
    class="py-14"
>
    <div class="container mx-auto">
        <div class="flex flex-col items-center justify-center py-[60px]">
            <h1 class="font-rubik text-xc-azul text-center text-[38px] leading-[44px] font-normal">
                ¿QUÉ HACEMOS?
            </h1>
        </div>
        <div class="flex flex-wrap gap-6 items-center justify-center">
            {
                newsCards.map((card) => (
                    <div class="border-[1px] border-xc-azul rounded-[22px] bg-white p-[20px] w-[460px] h-[482px] gap-y-[20px] flex flex-col">
                        <Image
                            src={card.image}
                            alt={card.title}
                            width={2000}
                            height={1333}
                            class="rounded-[10px] w-[420px] h-[160px] object-cover bg-cover object-center"
                        />
                        <p class="text-[#8B8B8B] text-[14px] font-manrope leading-normal">
                            {card.date}
                        </p>
                        <h5 class="text-negro font-manrope text-[18px] leading-[28px] font-bold ">
                            {card.title}
                        </h5>
                        <p class="text-negro font-manrope text-[16px] font-normal leading-normal">
                            {card.extract.slice(0, 158)}...
                        </p>
                        <a
                            href={`/noticias/${card.title}`}
                            class="bg-xc-azul text-center text-white rounded-[35px] p-[10px] font-manrope text-[16px] leading-normal font-normal hover:bg-xc-azul/75"
                        >
                            Leer más
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</section>
